<main>
  <section class="absolute w-full h-full gradientBG">
    <div class="container mx-auto px-4 h-full">
      <div class="flex content-center items-center justify-center h-full">
        <!-- <div class="w-full lg:w-1/2 px-4"> -->
          <!-- This is -->
        <div class="card">
          <div class="card-content p-0 flex">
            <div class="spinningasset coin is-sm">
              <div>
                <div></div>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <em></em>
                <em></em>
                <div></div>
              </div>
            </div>
            <div class="ml-2">
              {{user.score}}
            </div>
          </div>
        </div>
        <!-- <div> -->
          <div class="">
            <div class="container">
              <div id="rightFist" class="animation rightFist">👍</div>
              <div id="leftFist" class="animation leftFist">👍</div>
            </div>
          </div>

          <div class="inline-flex rounded-md shadow-sm">       
            <button id="stone" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Stone</button>
            <button id="scissor" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Scissor</button>
            <button id="paper" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Paper</button>
          </div>
        
      </div>
    </div>
  </section>
</main>
  