<main>
 <section class="absolute w-full h-full gradientBG">
     <div class="container mx-auto h-full">
      <div class="flex content-center items-center justify-center h-full">
        <div class="backdrop-blur-sm bg-white/30 rounded-lg p-8 shadow-sm">
          <div class="profile-container">
            <button (click)="showLeaderboardModal=true;" id="leaderboard" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-3 py-2 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Leaderboard</button>
            <div class="flex grow"></div>
            <div class="rounded-lg flex px-3 py-2 dark:bg-gray-800 ">
                <div class="spinningasset coin is-sm">
                  <div>
                    <div></div>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <em></em>
                    <em></em>
                    <div></div>
                  </div>
                </div>
                <div class="text-white">
                 {{user.score}}
                </div>
            </div>
          </div>

          <div class="animation-container">
            <div id="leftFist" class="paused animation leftFist">
              <div class="rotate-emoji-270">
                <div id="leftFistEmoji" class="mirror-emoji large-fist">
                  ✊
                </div>
              </div>
            </div>
            <div class="flex grow"></div>
            <div id="rightFist" class="paused animation rightFist">
              <div id="rightFistEmoji" class="rotate-emoji-270 large-fist">
                ✊
              </div>
            </div>
          </div>

          <div class="inline-flex rounded-md">       
            <button id="stone" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
              <div class="rotate-emoji-270">
                ✊
              </div>
            </button>
            <button id="scissor" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
              <div class="rotate-emoji-270">
                ✌️
              </div>
            </button>
            <button id="paper" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
              <div class="rotate-emoji-270">
                ✋
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>  
  </section> 


<!-- Modals -->
  <div class="relative">
    <div *ngIf="showLeaderboardModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>    
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <!-- Modal content -->
            <div class="flex items-start justify-between p-4 rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-black">
                  Leaderboard
              </h3>
              <button (click)="showLeaderboardModal=false;" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-black rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-black">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 justify-between" style="overflow: scroll">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Username</th>
                  <th>Score</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.score}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Modal footer -->
            <div class="flex justify-between p-6 space-x-2 rounded-b dark:border-gray-600">
                <!-- <button data-modal-hide="defaultModal" type="button" class="mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Got it!</button> -->
            </div>
            <!-- End Modal content -->
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showHowToModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>    
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <!-- Modal content -->
            <div class="flex items-start justify-between p-4 rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-black">
                  How To Play Stone Scissors Paper
              </h3>
              <button (click)="showHowToModal=false;" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-black rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-black">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 justify-between">
              <img src="assets/lemmein.gif" alt="Your GIF" class="w-64 h-64 object-cover mx-auto">
            </div>
            <!-- Modal footer -->
            <div class="flex justify-between p-6 space-x-2 rounded-b dark:border-gray-600">
                <button (click)="showHowToModal=false;" type="button" class="mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Got it!</button>
            </div>
            <!-- End Modal content -->
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showWinnerModal" class="profile-container pt-5">
      <div class="flex grow"></div>
      <div class="flex p-2 bg-indigo-800 items-center text-indigo-100 rounded-full" role="alert">
        <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">{{alertMessage}}</span>
        <span class="font-semibold mr-1 text-center flex-auto">{{winnerMessage}}</span>
        <button (click)="showWinnerModal=false;" id="closeModalButton" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-black rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-black">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="flex grow"></div>
    </div>
  </div>
</main>
  